<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<dict>
		<key>unit_warrior_move_l</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_warrior_move_1.png</string>
				<string>unit_warrior_move_2.png</string>
				<string>unit_warrior_move_3.png</string>
				<string>unit_warrior_move_4.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_warrior_move_r</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_warrior_move_5.png</string>
				<string>unit_warrior_move_6.png</string>
				<string>unit_warrior_move_7.png</string>
				<string>unit_warrior_move_8.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_warrior_move</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_warrior_move_1.png</string>
				<string>unit_warrior_move_2.png</string>
				<string>unit_warrior_move_3.png</string>
				<string>unit_warrior_move_4.png</string>
				<string>unit_warrior_move_5.png</string>
				<string>unit_warrior_move_6.png</string>
				<string>unit_warrior_move_7.png</string>
				<string>unit_warrior_move_8.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_warrior_attack</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_warrior_attack_1.png</string>
				<string>unit_warrior_attack_2.png</string>
				<string>unit_warrior_attack_3.png</string>
				<string>unit_warrior_attack_4.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_warrior_block</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_warrior_block_1.png</string>
				<string>unit_warrior_block_2.png</string>
				<string>unit_warrior_block_3.png</string>
				<string>unit_warrior_block_4.png</string>
				<string>unit_warrior_block_5.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_warrior_death</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_warrior_death_1.png</string>
				<string>unit_warrior_death_2.png</string>
				<string>unit_warrior_death_3.png</string>
				<string>unit_warrior_death_4.png</string>
				<string>unit_warrior_death_5.png</string>
				<string>unit_warrior_death_6.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_mage_move_l</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_mage_move_1.png</string>
				<string>unit_mage_move_2.png</string>
				<string>unit_mage_move_3.png</string>
				<string>unit_mage_move_4.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_mage_move_r</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_mage_move_5.png</string>
				<string>unit_mage_move_6.png</string>
				<string>unit_mage_move_7.png</string>
				<string>unit_mage_move_8.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_mage_move</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_mage_move_1.png</string>
				<string>unit_mage_move_2.png</string>
				<string>unit_mage_move_3.png</string>
				<string>unit_mage_move_4.png</string>
				<string>unit_mage_move_5.png</string>
				<string>unit_mage_move_6.png</string>
				<string>unit_mage_move_7.png</string>
				<string>unit_mage_move_8.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_mage_attack</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_mage_attack_1.png</string>
				<string>unit_mage_attack_2.png</string>
				<string>unit_mage_attack_3.png</string>
				<string>unit_mage_attack_4.png</string>
				<string>unit_mage_attack_5.png</string>
        <string>unit_mage_attack_6.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_mage_freeze</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_mage_freeze_1.png</string>
				<string>unit_mage_freeze_2.png</string>
				<string>unit_mage_freeze_3.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_mage_death</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_mage_death_1.png</string>
				<string>unit_mage_death_2.png</string>
				<string>unit_mage_death_3.png</string>
				<string>unit_mage_death_4.png</string>
				<string>unit_mage_death_5.png</string>
				<string>unit_mage_death_6.png</string>
				<string>unit_mage_death_7.png</string>
				<string>unit_mage_death_8.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_skeleton_move</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_skeleton_move_1.png</string>
				<string>unit_skeleton_move_2.png</string>
				<string>unit_skeleton_move_3.png</string>
				<string>unit_skeleton_move_4.png</string>
				<string>unit_skeleton_move_5.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_skeleton_attack</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_skeleton_attack_1.png</string>
				<string>unit_skeleton_attack_2.png</string>
				<string>unit_skeleton_attack_3.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>unit_skeleton_death</key>
		<dict>
			<key>frames</key>
			<array>
				<string>unit_skeleton_death_1.png</string>
				<string>unit_skeleton_death_2.png</string>
				<string>unit_skeleton_death_3.png</string>
				<string>unit_skeleton_death_4.png</string>
				<string>unit_skeleton_death_5.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
		<key>construction_fountaine_full</key>
		<dict>
			<key>frames</key>
			<array>
				<string>construction_fountaine_2.png</string>
				<string>construction_fountaine_3.png</string>
			</array>
			<key>delay</key>
			<integer>5</integer>
		</dict>
	</dict>
</dict>
</plist>
