<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>construction_door.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 256}, {128, 256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128, 256}, {128, 256}}</string>
			<key>sourceSize</key>
			<string>{128, 256}</string>
		</dict>
		<key>construction_graveyard.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 256}, {128, 256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 256}, {128, 256}}</string>
			<key>sourceSize</key>
			<string>{128, 256}</string>
		</dict>
		<key>floor.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024, 768}, {128, 128}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1024, 768}, {128, 128}}</string>
			<key>sourceSize</key>
			<string>{128, 128}</string>
		</dict>
		<key>frame.png</key>
		<dict>
			<key>frame</key>
			<string>{{256, 448}, {64, 64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256, 448}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>item_key.png</key>
		<dict>
			<key>frame</key>
			<string>{{384, 0}, {128, 256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384, 0}, {128, 256}}</string>
			<key>sourceSize</key>
			<string>{128, 256}</string>
		</dict>
		<key>mage_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{964, 896}, {100, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{964, 896}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>mage_spell_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{864, 896}, {100, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{864, 896}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>mage_spell_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{764, 896}, {100, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{764, 896}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>mage_spell_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{664, 896}, {100, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{664, 896}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>take_item.png</key>
		<dict>
			<key>frame</key>
			<string>{{448, 352}, {64, 64}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{448, 352}, {64, 64}}</string>
			<key>sourceSize</key>
			<string>{64, 64}</string>
		</dict>
		<key>unit_mage.png</key>
		<dict>
			<key>frame</key>
			<string>{{256, 0}, {128, 256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256, 0}, {128, 256}}</string>
			<key>sourceSize</key>
			<string>{128, 256}</string>
		</dict>
		<key>unit_skeleton.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 0}, {128, 256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128, 0}, {128, 256}}</string>
			<key>sourceSize</key>
			<string>{128, 256}</string>
		</dict>
		<key>unit_warrior.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 0}, {128, 256}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 0}, {128, 256}}</string>
			<key>sourceSize</key>
			<string>{128, 256}</string>
		</dict>
		<key>unit_warrior_move_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{720, 996}, {68, 88}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{720, 996}, {68, 88}}</string>
			<key>sourceSize</key>
			<string>{68, 88}</string>
		</dict>
		<key>unit_warrior_move_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{648, 996}, {72, 92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{648, 996}, {72, 92}}</string>
			<key>sourceSize</key>
			<string>{72, 92}</string>
		</dict>
		<key>unit_warrior_move_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{584, 896}, {80, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{584, 896}, {80, 100}}</string>
			<key>sourceSize</key>
			<string>{80, 100}</string>
		</dict>
		<key>unit_warrior_move_4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1064, 896}, {80, 96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1064, 896}, {80, 96}}</string>
			<key>sourceSize</key>
			<string>{80, 96}</string>
		</dict>
		<key>unit_warrior_move_5.png</key>
		<dict>
			<key>frame</key>
			<string>{{580, 996}, {68, 92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{580, 996}, {68, 92}}</string>
			<key>sourceSize</key>
			<string>{68, 92}</string>
		</dict>
		<key>unit_warrior_move_6.png</key>
		<dict>
			<key>frame</key>
			<string>{{448, 256}, {64, 96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{448, 256}, {64, 96}}</string>
			<key>sourceSize</key>
			<string>{64, 96}</string>
		</dict>
		<key>unit_warrior_move_7.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 896}, {72, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512, 896}, {72, 100}}</string>
			<key>sourceSize</key>
			<string>{72, 100}</string>
		</dict>
		<key>unit_warrior_move_8.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 996}, {68, 92}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512, 996}, {68, 92}}</string>
			<key>sourceSize</key>
			<string>{68, 92}</string>
		</dict>
		<key>wall_0_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{384, 896}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384, 896}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_0_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{256, 896}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256, 896}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_10_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 896}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128, 896}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_10_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 896}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 896}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_11_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024, 576}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1024, 576}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_11_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024, 384}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1024, 384}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_12_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024, 192}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1024, 192}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_12_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1024, 0}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1024, 0}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_13_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{896, 576}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{896, 576}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_13_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{896, 384}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{896, 384}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_14_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{896, 192}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{896, 192}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_14_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{896, 0}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{896, 0}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_15_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{768, 704}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{768, 704}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_15_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640, 704}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{640, 704}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_1_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 704}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512, 704}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_1_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{384, 704}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384, 704}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_2_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{256, 704}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256, 704}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_2_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 704}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128, 704}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_3_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 704}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 704}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_3_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{768, 384}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{768, 384}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_4_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{768, 192}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{768, 192}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_4_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{768, 0}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{768, 0}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_5_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{640, 512}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{640, 512}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_5_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 512}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512, 512}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_6_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{384, 512}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{384, 512}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_6_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{256, 512}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256, 512}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_7_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{128, 512}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{128, 512}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_7_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{0, 512}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0, 512}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_8_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{640, 192}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{640, 192}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_8_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640, 0}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{640, 0}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_9_0.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 192}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512, 192}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_9_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 0}, {128, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512, 0}, {128, 192}}</string>
			<key>sourceSize</key>
			<string>{128, 192}</string>
		</dict>
		<key>wall_shadow.png</key>
		<dict>
			<key>frame</key>
			<string>{{256, 256}, {192, 192}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{256, 256}, {192, 192}}</string>
			<key>sourceSize</key>
			<string>{192, 192}</string>
		</dict>
		<key>warrior_icon.png</key>
		<dict>
			<key>frame</key>
			<string>{{512, 384}, {100, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{512, 384}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>warrior_spell_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{640, 384}, {100, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{640, 384}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>warrior_spell_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{768, 576}, {100, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{768, 576}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
		<key>warrior_spell_3.png</key>
		<dict>
			<key>frame</key>
			<string>{{896, 768}, {100, 100}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{896, 768}, {100, 100}}</string>
			<key>sourceSize</key>
			<string>{100, 100}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>hash</key>
		<string>ff6643fbdb</string>
		<key>name</key>
		<string>graphics</string>
		<key>realTextureFileName</key>
		<string>graphics.png</string>
		<key>size</key>
		<string>{1152, 1088}</string>
		<key>textureFileName</key>
		<string>graphics.png</string>
		<key>version</key>
		<string>0.13</string>
	</dict>
</dict>
</plist>
